<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <%- include('../partials/header'); %>
            </header>
            <div class="content">
                <main>
                    <h1>Favourites</h1>
                    <% games.forEach(game => { %>
                        <div class="game">
                            <% if (user) { %>
                                <div class="user_btns">
                                    <!-- favourites btn -->
                                    <svg id="<%= game.id %>" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 80.87 71.75" style="enable-background:new 0 0 80.87 71.75;" xml:space="preserve" class="heart <% if (game.fav) {%>fav<% }else{ %>black_heart<%}%>" >
                                    <path class="st0" d="M74.39,6.49c-8.65-8.65-22.67-8.65-31.31,0l-2.64,2.64L37.8,6.49c-8.65-8.65-22.67-8.65-31.31,0l0,0
                                        c-8.65,8.65-8.65,22.67,0,31.31l2.64,2.64l31.31,31.31l31.31-31.31l2.64-2.64C83.03,29.15,83.03,15.13,74.39,6.49z"/>
                                    </svg>
                                    <!-- favourites btn -->
                                </div>
                            <% } %>
                            <div class="rating" id="<%= game.id %>">
                                <div class="star" id="1"><div class="field"></div></div>
                                <div class="star" id="2"><div class="field"></div></div>
                                <div class="star" id="3"><div class="field"></div></div>
                                <div class="star" id="4"><div class="field"></div></div>
                                <div class="star" id="5"><div class="field"></div></div>
                                <p class="numb_rating">0</p>
                            </div>
                            <a href="game/<%=game.id%>">
                                <div class="game_img" style="background-image: url(<%=game.img%>);"></div>
                            </a>
                            
                            <div class="info">
                                <h2><%=game.title%></h2>
                            </div>
                        </div>
                    <% }) %>
                </main>
            </div>
            <footer>
                <%- include('../partials/footer'); %>
            </footer>
        </div>
    </body>
</html>