<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <%- include('../partials/header'); %>
            </header>
            <main>
                <form class="search_news">
                    <input type="text" list="keys" autocomplete="off" placeholder="Search" name="search">
                    <button><img src="imgs/search.png" alt=""></button>
                    <datalist id="keys">
                        <% keyworlds.forEach(element => { %>
                         <option value="<%= element.text %>"></option>
                        <% }) %>
                    </datalist>
                </form>
                <div class="page_news">
                    <% NewsKeys.forEach(element => { %>
                     <div>
                        <% if (user && (user.role == 2 || user.role == 3)) { %>
                            <img id="<%= element.news.id %>" src="imgs/delete.png" class="delete_news" alt="" >
                        <% } %>
                        <h3><%= element.news.title %></h3>
                        <p>Keyworlds:
                            <% element.keyworlds.forEach(element2 => { %>
                                <%= element2 %>/
                            <% }) %>
                        </p>
                        <p><%= element.news.text.substring(0, 301)%>...</p>

                        <a href="<%= element.news.link %>" target="_blank">Link to original</a>
                     </div>
                    <% }) %>
                </div>
            </main>
            <footer>
                <%- include('../partials/footer'); %>
            </footer>
            <script src="scripts/news_page.js"></script>
        </div>
    </body>
</html>