<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <script src="/scripts/search_page.js"></script>
    </head>
    <body class="">
        <div class="main">
            <div class="search_block">
                <div class="ui"><div class="draggeble"><p>. . .</p></div> <img src="imgs/arrow_slide.png" alt="" id="slide"></div>
                <form id="form_search">
                    <div class="search_inputs">
                        <div>
                            <input type="text" name="title" autocomplete="off" placeholder="Name"list="titles">
                            <datalist id="titles">
                                <% titles.forEach(element => { %>
                                 <option value="<%=element.title%>"></option>
                                <% }) %>
                            </datalist>
                            <select name="asc_desc" id="">
                                <option value="ASC" selected>ASC</option>
                                <option value="DESC">DESC</option>
                            </select>
                        </div>
                        <div>
                            <input type="text" name="issuer" autocomplete="off" placeholder="Issuer" list="issuers">
                            <datalist id="issuers">
                                <% issuers.forEach(element => { %>
                                 <option value="<%=element.issuer%>"></option>
                                <% }) %>
                            </datalist>
                            <input type="text" name="developer" autocomplete="off" placeholder="Developer" list="developers">
                            <datalist id="developers">
                                <% developers.forEach(element => { %>
                                 <option value="<%=element.developer%>"></option>
                                <% }) %>
                            </datalist>
                        </div>
                        <div>
                            <input type="text" name="genre" autocomplete="off" placeholder="Genre" list="genres">
                            <datalist id="genres">
                                <% genres.forEach(element => { %>
                                 <option value="<%=element.name%>"></option>
                                <% }) %>
                            </datalist>
                            <input type="text" name="platform" autocomplete="off" placeholder="Platform" list="platforms">
                            <datalist id="platforms">
                                <% platforms.forEach(element => { %>
                                 <option value="<%=element.name%>"></option>
                                <% }) %>
                            </datalist>
                        </div>
                        <div class="date">
                            <input type="number" min="1900" name="year"  autocomplete="off" placeholder="Year">
                            <input type="number" min="1" max="12" name="month"  autocomplete="off" placeholder="Month">
                        </div>
                        <div>
                            <button>Search</button>
                            <p id="result"></p>
                        </div>
                    </div>
                </form>
            </div>
            <header>
                <%- include('../partials/header'); %>
            </header>
            <div class="search">
                <h1>Page for search</h1>
                <main id="block_games" style="width: 100%;">
                    <% games.forEach(game => { %>
                        <div class="game">
                            <% if (!read) { %>
                                <div class="delete_block">
                                    <img src="imgs/trash.png" alt="" id="<%=game.prime.id%>" class="button_delete">
                                </div>
                            <% } %>
                            <a href="game/<%=game.prime.id%>">
                                <div class="game_img" style="background-image: url(<%=game.prime.img%>);">
        
                                </div>
                            </a>
                            
                            <div class="info">
                                <h2><%=game.prime.title%></h2>
                                <p><span>Publieshed date:</span> <%=game.prime.published_date%></p>
                                <p><span>Issuer:</span> <%=game.prime.issuer%></p>
                                <p><span>Developer:</span> <%=game.prime.developer%></p>
                                <p><span>Genres:</span> 
                                    <% game.genres.forEach(genre => { %>
                                        <% if (genre!= game.genres[game.genres.length-1]) { %>
                                            <%=genre%>/
                                        <% } else{%>
                                            <%=genre%>
                                        <%}%>
                                <% }) %></p>
                                <p><span>Platforms:</span> 
                                    <% game.platforms.forEach(platform => { %>
                                        <% if (platform!= game.platforms[game.platforms.length-1]) { %>
                                            <%=platform%>/
                                        <% } else{%>
                                            <%=platform%>
                                        <%}%>
                                <% }) %>
                                </p>
                                <p><span>Description:</span> <%=game.prime.description.substring(0, 100)%>...</p>
                            </div>
                        </div>
                    <% }) %>
                </main>
            </div>
            <footer>
                <%- include('../partials/footer'); %>
            </footer>
        </div>
    </body>
</html>