<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <script src="/scripts/draggable.js"></script>
        <script src="/scripts/search.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <%- include('../partials/search_block'); %>
            <header>
                <%- include('../partials/header'); %>
            </header>
            <div class="search">
                <h1>Page for search</h1>
                <main id="block_games">
                    <%- include('../partials/search_render'); %>
                </main>
            </div>
            <footer>
                <%- include('../partials/footer'); %>
            </footer>
        </div>
    </body>
</html>