<% deleted_games.forEach(game => { %>
    <div class="game trashed">
        <div class="buttons_block hide">
            <img src="/imgs/restore.png" id="<%= game.prime.id %>" obj="game" alt="" class="restore">
            <img src="/imgs/delete.png" id="<%= game.prime.id %>" obj="game" alt="" class="full_delete">
        </div>
        <div class="game_img" style="background-image: url(<%=game.prime.img%>);">

        </div>
        
        <div class="info">
            <h2><%=game.prime.title%></h2>
            <p><span>Genres:</span> 
                <% game.genres.forEach(genre => { %>
                    <% if (genre!= game.genres[game.genres.length-1]) { %>
                        <%=genre%>/
                    <% } else{%>
                        <%=genre%>
                    <%}%>
            <% }) %></p>
            <p><span>Platforms:</span> 
                <% game.platforms.forEach(platform => { %>
                    <% if (platform!= game.platforms[game.platforms.length-1]) { %>
                        <%=platform%>/
                    <% } else{%>
                        <%=platform%>
                    <%}%>
            <% }) %>
            </p>
        </div>
    </div>
<% }) %>